*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100%;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;;
}

.row_top{
    display: flex;
    min-height: 60px;
    height: 7%;
    width: 100%;
}

.logo{
    width: 15%;
    background-color: #082f08;
    color: #eee7dc;
    min-height: 60px;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    min-width: 200px;
    max-width: 200px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.navbar{
    display: flex;
    width: 100%;
    background-color: #3F615A;
    min-height: 60px;
    height: 100%;
    align-items: center;
}

.notification_icon{
    margin: 0 24px;
}

.clock{
    color: white;
    margin-left: auto;
    margin-right: 60px;
    font-size: 1.6rem;
}

.hidden{
    visibility: hidden;
}



.row_bottom{
    display: flex;
    height: 93%;
}

.side_menu{
    width: 15%;
    background-color: 3F615A;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 200px;
}


.admin_name{
    font-size: 1.4rem;
    color: #eee7dc;
}



.login_button{
    width: 120px;
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    align-items: center;
    background: transparent;
    color: #eee7dc;
    border: 2px solid #eee7dc;
    border-radius: 5px;
    padding: 0 10px;
    text-decoration: none;
}





.logout{
    margin-top: auto;
    background-color: #082f08;
}

.logout{
    cursor: pointer;
}

.side_menu_item{
    height: 70px;
    text-align: center;
    text-decoration: none;
    line-height: 70px;
    color: #eee7dc;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #114238;
}


a.side-menu-link {
    font-size: 1.3rem;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #eee7dc;
    text-align: start;
}

.side_menu_item:hover{
    background-color: #114238;
    transition: .5s all;
}

.side_menu_item_icon{
    display: flex;
    justify-self: center;
    margin: 0 20px;
}








.main{
    min-width: 85%;
    width: 100%;
    max-height: 100%;
    background-color: #101313;
    color: #eee7dc;
    overflow-y: auto;
}
