*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;;
}

.row_top{
    display: flex;
    min-height: 60px;
    height: 7%;
}

.logo{
    width: 15%;
    background-color: #053B50;
    color: white;
    min-height: 60px;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    min-width: 200px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.navbar{
    display: flex;
    min-width: 85%;
    background-color: #64CCC5;
    min-height: 60px;
    height: 100%;
    align-items: center;
}

.menu_icon{
    margin-left: 24px;
}

.notification_icon{
    margin-left: auto;
}

.user_icon{
    margin: 0 24px;
}




.row_bottom{
    display: flex;
    height: 93%;
}

.side_menu{
    width: 15%;
    background-color: #176B87;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}







.logout{
    margin-top: auto;
    background-color: #053B50;
}

.logout{
    cursor: pointer;
}

.side_menu_item{
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: white;
    display: flex;
    align-items: center;
}


a.side-menu-link {
    font-size: 1.3rem;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: start;
}





.side_menu_item:hover{
    background-color: #053B50;
}

.side_menu_item_icon{
    display: flex;
    justify-self: center;
    margin: 0 20px;
}








.main{
    min-width: 85%;
    background-color: #EEEEEE;
    overflow-y: auto;
}
